<p-dialog [(visible)]="visible" [modal]="true" [closable]="true"
    [header]="selectedSupportType ? 'Editar Soporte' : 'Crear Soporte'" [style]="{ width: '500px' }"
    (onHide)="onHide()">

    <form class="flex flex-col gap-4" (ngSubmit)="saveSupportType()" #form="ngForm">
        <!-- Nombre del soporte -->
        <div>
            <label class="block font-medium mb-2">
                Nombre del tipo de soporte
                <span class="text-red-500">*</span>
            </label>
            <input type="text" pInputText [(ngModel)]="supportTypeForm.name" name="name" required class="w-full"
                placeholder="Ingresa el nombre del soporte" />
        </div>

        <!-- Descripción -->
        <div>
            <label class="block font-medium mb-2">
                Descripción del tipo de soporte
            </label>
            <textarea pTextarea [(ngModel)]="supportTypeForm.description" name="description" class="w-full" rows="4">
            </textarea>
        </div>

        <div class="flex justify-end gap-2 mt-4">
            <button pButton type="button" label="Cancelar" icon="pi pi-times"
                class="p-button-sm p-button-secondary p-button-outlined" (click)="onHide()">
            </button>
            <button pButton type="submit" label="Guardar" icon="pi pi-check" class="p-button-sm p-button-success"
                [disabled]="form.invalid">
            </button>
        </div>
    </form>
</p-dialog>