<p-dialog [(visible)]="visible" [modal]="true" [closable]="true"
    [header]="selectedUser ? 'Editar Usuario' : 'Crear Usuario'" [style]="{ width: '400px' }" (onHide)="onHide()">

    <form class="flex flex-col gap-4" (ngSubmit)="saveUser()" #form="ngForm">
        <div>
            <label class="block font-medium mb-1">
                Nombre
                <span *ngIf="!selectedUser" class="text-red-500">*</span>
            </label>
            <input type="text" pInputText [(ngModel)]="userForm.firstName" name="firstName" required
                class="w-full" />
        </div>

        <div>
            <label class="block font-medium mb-1">
                Apellido
                <span *ngIf="!selectedUser" class="text-red-500">*</span>
            </label>
            <input type="text" pInputText [(ngModel)]="userForm.lastName" name="lastName" required class="w-full" />
        </div>

        <div>
            <label class="block font-medium mb-1">
                Nombre de Usuario
                <span *ngIf="!selectedUser" class="text-red-500">*</span>
            </label>
            <input type="text" pInputText [(ngModel)]="userForm.username" name="username" required class="w-full" />
        </div>

        <div>
            <label class="block font-medium mb-1">
                Correo
                <span *ngIf="!selectedUser" class="text-red-500">*</span>
            </label>
            <input type="email" pInputText [(ngModel)]="userForm.email" name="email" required class="w-full" />
        </div>

        <div class="relative">
            <label class="block font-medium mb-1">
                Contraseña
                <span *ngIf="!selectedUser" class="text-red-500">*</span>
                <span *ngIf="selectedUser" class="text-gray-500 text-sm">
                    (Dejar vacío para mantener actual)
                </span>
            </label>
            <input pInputText [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userForm.password"
                name="password" [required]="!selectedUser" class="w-full pr-10"
                [placeholder]="selectedUser ? 'Dejar vacío para no cambiar' : 'Ingrese contraseña'" />
            <i class="pi absolute right-3 top-9 cursor-pointer text-gray-600"
                [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'" (click)="togglePasswordView()">
            </i>
        </div>

        <div>
            <label class="block font-medium mb-1">
                Rol
                <span *ngIf="!selectedUser" class="text-red-500">*</span>
            </label>
            <p-select [(ngModel)]="userForm.roleIds[0]" [options]="rolesOptions" optionLabel="label"
                optionValue="value" name="roleIds" placeholder="Selecciona un rol" appendTo="body" class="w-full"
                [showClear]="!selectedUser">
            </p-select>

        </div>

        <div class="flex justify-end mt-4">
            <button pButton type="submit" label="Guardar" icon="pi pi-check" class="p-button-sm p-button-success"
                [disabled]="form.invalid">
            </button>
        </div>
    </form>
</p-dialog>