<div class="card flex flex-col items-center w-full">

  <div class="flex flex-col justify-center w-64 items-center pb-4">
    <h1>Bienvenido</h1>
    <p-button (onClick)="limpiar()">Limpiar config</p-button>
    <!-- <p-button (onClick)="checkAuthState()" severity="help">Check status</p-button>
    <a routerLink="/test">test</a> -->

    <!-- Prueba de permisos y roles -->
    <!-- <ng-container *ngIf="permissionService.permissionsLoaded()">
      <div *ngIf="authService.hasAnyRole(['ROLE_USER', 'ROLE_ADMIN'])">
        <p-button severity="info">Ver Usuario</p-button>
      </div>
      <p *ngIf="permissionService.hasPermission('users.index')">Texto de prueba</p>
    </ng-container> -->

  </div>
</div>